<div class="card">
  <h4 class="card-title">{{question}}</h4>
  <h6>Cards Against Assembly</h6>
  <section ng-controller="rateController as rateCtrl">
    <h5>Rate our app!</h5>
    <span uib-rating ng-model="rateCtrl.rate" max="rateCtrl.max" read-only="rateCtrl.isReadonly" on-hover="rateCtrl.hoveringOver(value)" on-leave="rateCtrl.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
  </section>
</div>
